doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title twitter
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="./js/sha1.js")
    script(src="./js/oauth.js")
    script(src="./js/twitter.js")
    script.
      var twitterAuth = new TwitterAuth();
      twitterAuth.getRequestToken();

      $(function() {
        $('#access').click(function() {
          twitterAuth.getAccessToken();
        });
      });
  body
    input#pin(type="text")
    button#access access
    a(href="./tumblr.html") tumblr
