doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title timeline
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='./js/oauth.js')
    script(src='./js/sha1.js')
    script(src='./js/twitter.js')
    script(src='bower_components/webcomponentsjs/webcomponents-lite.min.js')
    link(rel='import', href='bower_components/polymer/polymer.html')
    link(rel='import', href='./elements/posts-list.html')
    link(rel='import', href='./elements/user-profile.html')
  body(unresolved='', fullbleed='')
    template#wrap(is='dom-bind')
      user-profile(name='{{usersShow.name}}', screenname='{{usersShow.screen_name}}', profileimg='{{usersShow.profile_image_url}}', bannerimg='{{usersShow.profile_banner_url}}', ctweet='{{usersShow.statuses_count}}', cfollower='{{usersShow.followers_count}}', cfollow='{{usersShow.friends_count}}')
      button#user user
      input#text(type='text')
      button#tweet tweet
      a(href="tweet.html") tweet page
      br
      #mul
        template#tmpl(is="dom-repeat" items="timeline")
          .scrFade
            posts-list(data='{{item}}')
      button#nPost next post
      script.
        var twitter = new TwitterOperate();
        var lectus = new Lectus();
        twitter.observeDataList("#wrap");
        twitter.timeline();
        twitter.usersShow();
        $(function(){
          $('#tweet').click(function(){
            twitter.postTweet($('#text').val()).done(function(){$('#text').val("")});
          });
          srcEvent = function(){
            var setElm = $('.scrFade');
            delayHeight = 40;
            setElm.css({display:'block',opacity:'0'});
            $('html,body').animate({scrollTop:0},1);
            setElm.each(function(){
              var setThis = $(this),
              elmTop = setThis.offset().top,
              elmHeight = setThis.height(),
              scrTop = $(window).scrollTop(),
              winHeight = $(window).height();
              if (scrTop > elmTop - winHeight + delayHeight && scrTop < elmTop + elmHeight){
                setThis.stop().css({opacity:'1'}); // 【上】からスクロールしてきた時のイベント
              } else if (scrTop < elmTop - winHeight + delayHeight && scrTop < elmTop + delayHeight){
                setThis.stop().css({opacity:'0'}); // 【下】からスクロールしてきた時のイベント
              }
            });
            $(window).on('load scroll resize',function(){
              setElm.each(function(){
                var setThis = $(this),
                elmTop = setThis.offset().top,
                elmHeight = setThis.height(),
                scrTop = $(window).scrollTop(),
                winHeight = $(window).height();
                if (scrTop > elmTop - winHeight + delayHeight && scrTop < elmTop + elmHeight){
                  setThis.stop().animate({opacity:'1'},500); // 【上】からスクロールしてきた時のイベント
                } else if (scrTop < elmTop - winHeight + delayHeight && scrTop < elmTop + delayHeight){
                  setThis.stop().animate({opacity:'0'},500); // 【下】からスクロールしてきた時のイベント
                }
              });
            });
          }
          var mo = new MutationObserver(function(mutationRecords){
            srcEvent();
          });
          mo.observe(document.querySelector("#mul"), {attributes: true, childList: true, characterData: true});
        });
