doctype html
html(lang="jp")
  head
    meta(charset="UTF-8")
    title twitter
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="./js/sha1.js")
    script(src="./js/oauth.js")
    script(src="./js/tumblr.js")
    script.
      var tumblrAuth = new TumblrAuth();
      var tumblrOperate = new TumblrOperate();
      tumblrAuth.getRequestToken();

      $(function() {
        $('#access').click(function() {
          tumblrAuth.getAccessToken();
          tumblrOperate.dashboard();
        });
      });
  body
    input#pin(type="text")
    button#access access
    a(href="./tumblr.html") timeline
