doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title timeline
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='./js/oauth.js')
    script(src='./js/sha1.js')
    script(src='./js/twitter.js')
    script(src='bower_components/webcomponentsjs/webcomponents-lite.min.js')
    link(rel='import', href='bower_components/polymer/polymer.html')
    link(rel='import', href='./elements/lectus-tweet.html')
    style.
      html,body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
  body(unresolved='', fullbleed='')
    style.
    template#wrap(is='dom-bind')
      {{usersShow}}
      lectus-tweet(profile-img="{{usersShow}}")
      script.
        //- var twitter = new TwitterOperate();
        //- twitter.observeDataList("#wrap");
        //- twitter.usersShow();
        document.querySelector("#wrap").usersShow = "jij";
