<dom-module id="lectus-tweet"><template><div id="wrap"><div><img src="{{profileImg}}"/>{{count}}</div><textarea id="text" on-keyup="updateCount"></textarea><div><input id="image" type="file"/><button id="upload" on-click="uploadImage">upload</button><button id="tweet" on-click="tweet">tweet</button></div></div><style>* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#text {
  flex: auto;
  width: 100%;
}</style></template></dom-module><script>Polymer({
  is: "lectus-tweet",
  properties: {
    profileImg: {
      type: String,
    }
  },
  ready: function(){
    this.count = 0;
  },
  tweet: function(){
    var twitter = new TwitterOperate();
    var text = this.$.text.value;
    twitter.postTweet(text).done(function(){document.querySelector("#text").value=""});
  },
  updateCount: function(){
    this.count = this.$.text.value.length;
  },
  uploadImage: function(){
    var data = this.$.image.files;
    var twitter = new TwitterOperate();
    twitter.mediaUpload(this.$.text.value, data);
  },
});</script>