<dom-module id="posts-list"><template><div on-click="{{favorite}}" data-id="{{data.id_str}}" class="post"><div class="profile"><a href="tweets.html?screen_name={{data.user.screen_name}}" data-screen-name="{{data.user.screen_name}}"><img src="{{data.user.profile_image_url}}" alt="photo"/></a></div><div class="text">{{data.text}}</div></div><style>.post {
  display: flex;
  flex-direction: row;
  align-items: row;
}
.text {
  width: 90%;
}
</style></template></dom-module><script>Polymer({
  is: "posts-list",
  properties: {
    data: Object,
  },
  favorite: function(event,detail,sender){
    var twitter = new TwitterOperate();
    twitter.favoritesCreate(sender.dataset.id);
  }
});</script>