dom-module(id='posts-list')
  template
    div.post(on-click="{{favorite}}" data-id="{{data.id_str}}")
      div.profile
        a(href='tweets.html?screen_name={{data.user.screen_name}}', data-screen-name='{{data.user.screen_name}}')
          img(src='{{data.user.profile_image_url}}', alt='photo')
      div.text {{data.text}}
    style.
      .post {
        display: flex;
        flex-direction: row;
        align-items: row;
      }
      .text {
        width: 90%;
      }
    
script.
  Polymer({
    is: "posts-list",
    properties: {
      data: Object,
    },
    favorite: function(event,detail,sender){
      var twitter = new TwitterOperate();
      twitter.favoritesCreate(sender.dataset.id);
    }
  });
