<dom-module id="user-profile"><template><div id="wrap" horizontal="" center="" center-justified="" layout="" style="background-image: url(&quot;{{bannerImg}}&quot;)"><div id="profile"><img src="{{profileImg}}"/><h1>{{name}}
{{screenName}}
{{cTweet}}
{{cFollower}}
{{cFollow}}</h1></div></div><style>*{
  margin: 0;
  padding: 0;
}
#wrap{
  width: 600px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
#profile{
  background-attachment: fixed;
  background: inherit;
  position: relative;
  border-radius: 8%;
  padding: 8px;
  border: 1px solid rgba(255,255,255,.1);
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  z-index: 0;
  color: white;
  overflow: hidden;
}
#profile:before,#profile:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#profile:before{
  content: '';
  background: inherit;
  filter: blur(5px);
  -webkit-filter: blur(5px);
}
#profile:after{
  content: '';
  background-color: rgba(0,0,0,.1);
}</style></template></dom-module><script>Polymer({
  is: 'user-profile',
  properties: {
    name: String,
    screenName: String,
    profileImg: String,
    bannerImg: String,
    cTweet: String,
    cFollower: String,
    cFollow: String
  }
});</script>